body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}


html{
	height: 100%;
}


body{
	background:#eee;
	color:#333;
	font-family:Arial,sans-serif;
	font-size:12px;
	line-height:16px;
	display : table;
	width: 100%;
}

a, a:visited{
	color:BlanchedAlmond;
}

.encadre{
          margin: 3% auto 0;
          border: 1px solid gray;
          background: linear-gradient(135deg, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
          padding: 5%;
          color: Linen;
          text-align: center;
          border-radius: 5px;
					display: table-row;
          }
					
.GrandeInitiale:first-letter { font-size: 150%; }

header, footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

form{
	background:linear-gradient(90deg, #ccc, #fff);
	border:1px solid #aaa;
	border-radius:10px;
	box-shadow:0 0 15px #aaa;
	margin:3% auto 0;
	padding:20px;
	width:440px;
}
h1{
	border-bottom:1px solid #ccc;
	font-size:11px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:20px;
	text-transform:uppercase;
  text-align: center;
}
form p{
	margin-bottom:20px;
}
form p:last-child{ /* dernier paragraphe du formulaire */
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:5px;
	width:120px;
}
form p:hover label{
	color:#0459b7;
}
form p:hover label:after{
	content:" >";
}
input[type=text],
input[type=password]{
	background:linear-gradient(90deg, #fff, #eee);
	border:1px solid #aaa;
	border-radius:3px;
	box-shadow:0 0 3px #aaa;
	padding:5px;
}
input[type=text]:focus,
input[type=password]:focus{
	border-color:#093c75;
	box-shadow:0 0 3px #0459b7;
	outline:none;  // enlève le contour des inputs sous Chrome
}
select{
	cursor:pointer;
	padding:3px;
	box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border:1px solid #093c75;
	box-shadow:0 0 3px #0459b7;
/*	outline:none;*/
}
input[type=submit],
a.submit{
	background:linear-gradient(90deg, #0459b7, #08adff);
	border:1px solid #093c75;
	border-radius:3px;
	box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:10%;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
input[type=submit]:hover,
a.submit:hover{
	background:linear-gradient(90deg, #067cd3, #0bcdff);
	border-color:#093c75;
	text-decoration:none;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:linear-gradient(90deg, #0bcdff, #067cd3);
	border-color:#093c75;
	outline:none;
}
#options{
	margin-bottom:20px;
}
#options p{
	display:none;
}
#options .show{
	display:block;
}
#options:target .show{
	display:none;
}
#options .hide{
	display:none;
}
#options:target .hide{
	display:block;
}
#options:target p{
	display:block;
}
#finish{
	background:rgba(65, 166, 42, 0.2);
	border:2px solid #41a62a;
	border-radius:3px;
	display:none;
	padding:5px 10px;
}
#finish:target{
	display:block;
}


body {
display: table;
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 10pt;
font-family: Verdana;
color: #1C00A1;
}

legend {
font-size: 12pt;
font-weight: bold;
}

label {
font-style: italic;
}

footer {
	display : table-row;
 	height: 60px;
  background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%);
	text-align: center;
	border-radius: 6px;
}
