header, footer{
	margin: auto;
	text-align: center;
}

	/* Bordure simple autour des tableaux */
	table,th, td { border: 1px solid grey;}
	/* Bordure simple autour des cases */
	table{border-collapse:collapse;}
	/* Centrage tableau */
	table.centre{
		margin:auto;
	}
/* centrage du texte dans les cellules du tableau */
table.centre td{text-align:center;}

table#jolie tr:first-child{
	background:LightPink;
}
table#jolie tr:nth-child(2n){
	background:#EFD3C9;
}
table#jolie tr:nth-child(2n+3){
	background:#BCBCD0;
}
/* si un tableau a une seule ligne on l'affiche en rouge */
table tr:only-child{
	background:red;
}
form{
	margin: auto;
}
.encadre{
          margin: auto;
          border: 5px solid gray;
          background-color: BlanchedAlmond;
          padding: 15px;
          color: Crimson;
          width: 35%;
          text-align: center;
          border-radius: 5px;
          }
.GrandeInitiale:first-letter { font-size: 300%; }

footer {
   position:absolute;
   bottom:0;
   width:75%;
   height:15px;
   background:aqua;
	 margin: auto;
}
