

	/* Bordure simple autour des tableaux */
	table,th, td { border: 1px solid grey;}
	/* Bordure simple autour des cases */
	table{border-collapse:collapse;}
	/* Centrage tableau */
	table.centre{
		margin-left:auto;
		margin-right:auto;
		margin-top: 3%;
		width: 69%;
	}
/* centrage du texte dans les cellules du tableau */
table.centre td{text-align:center; color: Ivory; padding: 5px;}

table#jolie tr:first-child{
	background:LightPink;
}
table#jolie tr:nth-child(2n){
	background:rgba(35,83,138,1);
	/* background:#EFD3C9; */
}
table#jolie tr:nth-child(2n+3){
	background:#BCBCD0;
}

table#jolie tr:last-child{
	background:#09AA0E;
}

/* si un tableau a une seule ligne on l'affiche en rouge */
table tr:only-child{
	background:red;
}
