{% extends "BaseTemplate.html" %}
{% block title %}Personnes du Carnet{% endblock %}
{% block head %}
{{ parent() }}
  <link rel="stylesheet" href="static/tabstyle.css" />
{% endblock %}

{% block content %}

<h2>{{titre}}</h2>
<table id="jolie" class="centre" >
  <tr>
    <td>ID</td>
    <td>Nom</td>
    <td>Prenom</td>
    <td>Naissance</td>
    <td>Ville</td>
    <td>Suppression</td>
  </tr>
  {% for ami in amis %}
    <tr>
    <td>{{ami.ID}}</td>
    <td>
      <a href="controleur.php?action=detail&id={{ami.ID}}&message=">
      {{ami.NOM}}</a>
    </td>
    <td>{{ami.PRENOM}}</td>
    <td>{{ami.NAISSANCE}}</td>
    <td>{{ami.VILLE}}</td>
    <td>
      <a href="controleur.php?action=suppr&id={{ami.ID}}">
      X</a>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <form method="GET" action="controleur.php">
      <td><input type="hidden" name="action" value="add"></td>
      <td><input type="text" name="nom" required></td>
      <td><input type="text" name="prenom" required></td>
      <td><input type="date" name="naissance" required></td>
      <td><input type="text" name="ville"></td>
      <td><input type="submit" value="+"></td>
    </form>
  </tr>
</table>

{% endblock %}
